<div class="container mt-2">
    <table class="table table-bordered table-striped table-sm">
        <thead>
            <tr>
                <th>Note</th>
                <th>Natural</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let n of notes">
                <td>{{ n.name }} <span class="font-italic font-weight-light">{{ n.alternativeName }}</span></td>
                <td [class.font-weight-bold]="n.isNatural">{{ n.isNatural ? 'yes' : 'no' }}</td>
                <td>
                    <div class="button-group">
                        <button class="btn btn-primary btn-sm" [routerLink]="'note/' + n.name">intervals</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>