<table *ngIf="guitar">

    <thead>
        <tr>
            <th *ngFor="let item of [].constructor(guitar.fretCount+1); let i = index" [style.width]="getFretWidth(i)">{{ i }}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let s of finalStrings">
            <th [class.font-weight-bold]="isNoteAskedFor(s.openString)" (click)="emitNoteClicked(s.openString)" [class.text-primary]="isNoteAskedFor(s.openString)">{{ s.openString.name }}</th>
            <td *ngFor="let f of s.frets" (click)="emitNoteClicked(f)">
                <div class="badge" [class.bg-secondary]="!isNoteAskedFor(f)" [class.bg-primary]="isNoteAskedFor(f)" *ngIf="showThisNote(f)">{{ f.name}}</div>
                <hr [style.border-top-width]="getStringWidth(s)">
            </td>
            <td class="bridge"></td>
        </tr>
    </tbody>
</table>