:host {
    table {
        width: 100%;
        
        thead {
            th {
                text-align: center;
            }
        }

        tbody {
            th {
                text-align: center;
            }
            td {
                border-right: 2px solid black;
                background: #d4a853;
                color: white;
                text-align: center;
                height: 35px;

                hr {
                    border-color: #7b9095;
                }
            }

            td.bridge {
                background: none;
                border-right: none;
            }
        }
    }

    .guitar-neck {

    }
}