<div class="container mt-2" *ngIf="note">
    <h1>{{ note.name }} <span class="font-italic font-weight-light">{{ note.alternativeName }}</span></h1>
    <hr>

    <table class="table table-bordered table-sm table-striped">
        <thead>
            <tr>
                <th>Distance In half tones</th>
                <th>Note</th>
                <th>Interval Name</th>
                <th>Interval Symbol</th>
                <th>Natural note</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ni of noteIntervals">
                <td>{{ni.distanceInHalfTones}}</td>
                <td>{{ni.note.name}}<span class="font-italic font-weight-light">{{ni.note.alternativeName}}</span></td>
                <td>{{ni.name}}</td>
                <td>{{ni.symbol}}</td>
                <td [class.font-weight-bold]="ni.note.isNatural">{{ni.note.isNatural ? 'yes' : 'no' }}</td>
            </tr>
        </tbody>
    </table>

    <h5>Chords</h5>
    <hr>
    <table class="table table-bordered table-sm">
        <thead>
            <tr>
                <th>Title</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of chords">
                <td>{{ c.title }}</td>
                <td>
                    <ng-container *ngFor="let n of c.notes">
                        <span class="badge bg-secondary mr-2">
                            {{ n.name }}
                            <span class="font-weight-light">{{ n.alternativeName }}</span>
                        </span>
                        &nbsp;
                    </ng-container>
                </td>
            </tr>
        </tbody>        
    </table>
</div>